  
      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Queens borough Community College</b></h5>

          <p>The City University of New York, Bayside, NY
            Associate in Applied Science, Computer Information Systems (C.I.S), Internet & Info Technology,Sheepshead Bay High-School Brooklyn, NY</p>

          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2013 <span class="w3-tag w3-teal w3-round">Current</span></h6>
          
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Relevant Coursework</b></h5>
         <ul>
          <p>
            
            <li>Computer Applications</li>
          
           <li>Microsoft Computer</li>
           
           <li>Creating Smartphone Apps</li>
           
           <li>Wireless Mobile Communications</li>
           
           <li>Networking Fundamentals I</li>
           
           <li>Computer Network Security</li>
           
           <li>Technology I: Building and Maintaining Web Sitet</li>
           </p>

         </ul>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>School of Coding</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
          <p>Bachelor Degree</p><br>
        </div>
      </div>